*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-flow: row nowrap;
}

/* justify content */
.start{
    justify-content: flex-start;
}
.center{
    justify-content: center;
}
.end{
    justify-content: flex-end;
}
.around{
    justify-content: space-around;
}
.between{
    justify-content: space-between;
}

/* align self */
.top{
    align-self: flex-start;
}
.middle{
    align-self: center;
}
.bottom{
    align-self: flex-end;
}

/* colonne */

.col-xs-1{
    flex-basis: calc((100% / 12) * 1);
    min-width: calc((100% / 12) * 1);
}
.col-xs-2{
    flex-basis: calc((100% / 12) * 2);
    min-width: calc((100% / 12) * 2);
}
.col-xs-3{
    flex-basis: calc((100% / 12) * 3);
    min-width: calc((100% / 12) * 3);
}
.col-xs-4{
    flex-basis: calc((100% / 12) * 4);
    min-width: calc((100% / 12) * 4);
}
.col-xs-5{
    flex-basis: calc((100% / 12) * 5);
    min-width: calc((100% / 12) * 5);
}
.col-xs-6{
    flex-basis: calc((100% / 12) * 6);
    min-width: calc((100% / 12) * 6);
}
.col-xs-7{
    flex-basis: calc((100% / 12) * 7);
    min-width: calc((100% / 12) * 7);
}
.col-xs-8{
    flex-basis: calc((100% / 12) * 8);
    min-width: calc((100% / 12) * 8);
}
.col-xs-9{
    flex-basis: calc((100% / 12) * 9);
    min-width: calc((100% / 12) * 9);
}
.col-xs-10{
    flex-basis: calc((100% / 12) * 10);
    min-width: calc((100% / 12) * 10);
}
.col-xs-11{
    flex-basis: calc((100% / 12) * 11);
    min-width: calc((100% / 12) * 11);
}
.col-xs-12{
    flex-basis: calc((100% / 12) * 12);
    min-width: calc((100% / 12) * 12);
}

/* margini */

.col-xs-offset-1{
    margin-left: calc((100% / 12) * 1);
}
.col-xs-offset-2{
    margin-left: calc((100% / 12) * 2);
}
.col-xs-offset-3{
    margin-left: calc((100% / 12) * 3);
}
.col-xs-offset-4{
    margin-left: calc((100% / 12) * 4);
}
.col-xs-offset-5{
    margin-left: calc((100% / 12) * 5);
}
.col-xs-offset-6{
    margin-left: calc((100% / 12) * 6);
}
.col-xs-offset-7{
    margin-left: calc((100% / 12) * 7);
}
.col-xs-offset-8{
    margin-left: calc((100% / 12) * 8);
}
.col-xs-offset-9{
    margin-left: calc((100% / 12) * 9);
}
.col-xs-offset-10{
    margin-left: calc((100% / 12) * 10);
}
.col-xs-offset-11{
    margin-left: calc((100% / 12) * 11);
}
.col-xs-offset-12{
    margin-left: calc((100% / 12) * 12);
}